# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
*.egg
venv/
.env

# SQLite database (will be recreated by seed)
backend/data/db/*.db

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Tunnel logs
*.log
